# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# IDE settings
.vscode/
.idea/

# OS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Sample Data
sample_data/